*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: $primary-color;
  font-family: $primary-font;
  background: #f1f1f1;
}

.center {
  text-align: center;
}

canvas {
  cursor: crosshair;
  display: block;
  margin: 0 auto;
  min-width: 1400px;
  min-height: 600px;
}
